@charset "UTF-8";

#container {
		
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
		
}

h1,h2, h3, h4 {
	
	background-color:powderblue;
	border: 1px solid;
	border-color:#D6A800;
	padding:10px;
}

a {
  color: hotpink;
  text-decoration:none;
}

a:hover {
	color:blue;
}

a:visited {
	color:orange;
}