html, body {
   font-size: 16px;
}

p {
font-weight: 400;
}


h1 {
font-weight: 700;
text-transform: uppercase;
text-align:center;

}


h2{
font-weight: 500;
text-align:left;
padding-top: 15px;
}


p {
line-height: 1.4em;
}

address {
 text-align:center;
}

.change:hover{
text-decoration: underline;
}

.change:visited{
color: green;
}

.sentence{
 font-style:italic;
}

.intro {

text-indent: 2em;

}